<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Home</title>
</head>
<body>
    <div class="container">
        <h1>Welcome, {{ request.user.username }}!</h1>
        <p>You have successfully logged in.</p>

        <nav>
            <ul>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <!-- Other navigation links later-->
                <!-- <li><a href="{% url 'profile' %}">Profile</a></li> -->
                <!-- <li><a href="{% url 'settings' %}">Settings</a></li> -->
            </ul>
        </nav>
    </div>
</body>
</html>
